# Core Django
Django>=4.2
# SQL Server backend
mssql-django==1.6
pyodbc==5.0.1

# Environment variable support
python-dotenv==1.0.0

# Optional: Azure deployment helpers
gunicorn==21.2.0

# Optional: Static file handling for production
whitenoise==6.6.0

django-recaptcha>=3.0.0
